body {
    margin: 0px;
    background-color: #f6f6f6;
}
div#menu {
    margin: 0px;
    padding: 10px;
    background-color: #222;
}
#menu a {
    font-weight: bold;
    text-decoration: none;
    padding: 2px;
    color: #3366ff;
    border: 1px dotted #666;
}
#menu a:hover {
    color: #69f;
    border: 1px dotted #ccc;
}
div#top {
    padding: 2px 10px;
}
div#butt {
    padding: 10px;
}
div.boxy {
    padding: 5px;
    margin: 10px;
    border: 1px solid #ccc;
}
table {
    font-family: Verdana, Arial;
    font-size: 0.8em;
    border-collapse: collapse;
}
iframe {
    width: 90%;
    height: 300px;
    border: 1px dotted #999;
    background-color: #fafad2;
}
tr {
    padding: 6px;
    border: 1px solid #ccc;
}
td {
    padding: 3px;
}
tr:hover {
    color: #222;
    background-color: #f9f9f9;
}
p {
    padding: 3px 10px;
    margin: 3px;
}
h2 {
    color: #036;
}
fieldset {
    width: 200px;
    float: left;
    margin: 10px;
    border: 1px solid #ccc;
}
form {
    margin: 0px;
}
